<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wechatdemo.wechat.mapper.AddressMapper">
  <resultMap id="BaseResultMap" type="com.example.wechatdemo.wechat.entity.Address">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="telphone" jdbcType="VARCHAR" property="telphone" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="isdefault" jdbcType="INTEGER" property="isdefault" />
    <result column="ry1" jdbcType="VARCHAR" property="ry1" />
    <result column="ry2" jdbcType="VARCHAR" property="ry2" />
    <result column="ry3" jdbcType="VARCHAR" property="ry3" />
    <result column="ry4" jdbcType="VARCHAR" property="ry4" />
    <result column="ry5" jdbcType="INTEGER" property="ry5" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, userId, username, telphone, label, detail, isdefault, ry1, ry2, ry3, ry4, ry5
  </sql>
  <select id="selectByExample" parameterType="com.example.wechatdemo.wechat.entity.AddressExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.wechatdemo.wechat.entity.AddressExample">
    delete from address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.wechatdemo.wechat.entity.Address">
    insert into address (id, userId, username, 
      telphone, label, detail, 
      isdefault, ry1, ry2, 
      ry3, ry4, ry5)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, 
      #{telphone,jdbcType=VARCHAR}, #{label,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, 
      #{isdefault,jdbcType=INTEGER}, #{ry1,jdbcType=VARCHAR}, #{ry2,jdbcType=VARCHAR}, 
      #{ry3,jdbcType=VARCHAR}, #{ry4,jdbcType=VARCHAR}, #{ry5,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.wechatdemo.wechat.entity.Address">
    insert into address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="telphone != null">
        telphone,
      </if>
      <if test="label != null">
        label,
      </if>
      <if test="detail != null">
        detail,
      </if>
      <if test="isdefault != null">
        isdefault,
      </if>
      <if test="ry1 != null">
        ry1,
      </if>
      <if test="ry2 != null">
        ry2,
      </if>
      <if test="ry3 != null">
        ry3,
      </if>
      <if test="ry4 != null">
        ry4,
      </if>
      <if test="ry5 != null">
        ry5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null">
        #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="isdefault != null">
        #{isdefault,jdbcType=INTEGER},
      </if>
      <if test="ry1 != null">
        #{ry1,jdbcType=VARCHAR},
      </if>
      <if test="ry2 != null">
        #{ry2,jdbcType=VARCHAR},
      </if>
      <if test="ry3 != null">
        #{ry3,jdbcType=VARCHAR},
      </if>
      <if test="ry4 != null">
        #{ry4,jdbcType=VARCHAR},
      </if>
      <if test="ry5 != null">
        #{ry5,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.wechatdemo.wechat.entity.AddressExample" resultType="java.lang.Long">
    select count(*) from address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update address
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.telphone != null">
        telphone = #{record.telphone,jdbcType=VARCHAR},
      </if>
      <if test="record.label != null">
        label = #{record.label,jdbcType=VARCHAR},
      </if>
      <if test="record.detail != null">
        detail = #{record.detail,jdbcType=VARCHAR},
      </if>
      <if test="record.isdefault != null">
        isdefault = #{record.isdefault,jdbcType=INTEGER},
      </if>
      <if test="record.ry1 != null">
        ry1 = #{record.ry1,jdbcType=VARCHAR},
      </if>
      <if test="record.ry2 != null">
        ry2 = #{record.ry2,jdbcType=VARCHAR},
      </if>
      <if test="record.ry3 != null">
        ry3 = #{record.ry3,jdbcType=VARCHAR},
      </if>
      <if test="record.ry4 != null">
        ry4 = #{record.ry4,jdbcType=VARCHAR},
      </if>
      <if test="record.ry5 != null">
        ry5 = #{record.ry5,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update address
    set id = #{record.id,jdbcType=INTEGER},
      userId = #{record.userid,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      telphone = #{record.telphone,jdbcType=VARCHAR},
      label = #{record.label,jdbcType=VARCHAR},
      detail = #{record.detail,jdbcType=VARCHAR},
      isdefault = #{record.isdefault,jdbcType=INTEGER},
      ry1 = #{record.ry1,jdbcType=VARCHAR},
      ry2 = #{record.ry2,jdbcType=VARCHAR},
      ry3 = #{record.ry3,jdbcType=VARCHAR},
      ry4 = #{record.ry4,jdbcType=VARCHAR},
      ry5 = #{record.ry5,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.wechatdemo.wechat.entity.Address">
    update address
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null">
        telphone = #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="isdefault != null">
        isdefault = #{isdefault,jdbcType=INTEGER},
      </if>
      <if test="ry1 != null">
        ry1 = #{ry1,jdbcType=VARCHAR},
      </if>
      <if test="ry2 != null">
        ry2 = #{ry2,jdbcType=VARCHAR},
      </if>
      <if test="ry3 != null">
        ry3 = #{ry3,jdbcType=VARCHAR},
      </if>
      <if test="ry4 != null">
        ry4 = #{ry4,jdbcType=VARCHAR},
      </if>
      <if test="ry5 != null">
        ry5 = #{ry5,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.wechatdemo.wechat.entity.Address">
    update address
    set userId = #{userid,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      telphone = #{telphone,jdbcType=VARCHAR},
      label = #{label,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      isdefault = #{isdefault,jdbcType=INTEGER},
      ry1 = #{ry1,jdbcType=VARCHAR},
      ry2 = #{ry2,jdbcType=VARCHAR},
      ry3 = #{ry3,jdbcType=VARCHAR},
      ry4 = #{ry4,jdbcType=VARCHAR},
      ry5 = #{ry5,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>