<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wechatdemo.wechat.mapper.CommentforgoodMapper">
  <resultMap id="BaseResultMap" type="com.example.wechatdemo.wechat.entity.Commentforgood">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="commentId" jdbcType="INTEGER" property="commentid" />
    <result column="goodId" jdbcType="INTEGER" property="goodid" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="userface" jdbcType="VARCHAR" property="userface" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="spec" jdbcType="VARCHAR" property="spec" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="addtwocontent" jdbcType="VARCHAR" property="addtwocontent" />
    <result column="addtwoimg" jdbcType="VARCHAR" property="addtwoimg" />
    <result column="ry1" jdbcType="VARCHAR" property="ry1" />
    <result column="ry2" jdbcType="VARCHAR" property="ry2" />
    <result column="ry3" jdbcType="VARCHAR" property="ry3" />
    <result column="ry4" jdbcType="VARCHAR" property="ry4" />
    <result column="ry5" jdbcType="INTEGER" property="ry5" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, commentId, goodId, userId, userface, content, date, spec, grade, img, addtwocontent, 
    addtwoimg, ry1, ry2, ry3, ry4, ry5
  </sql>
  <select id="selectByExample" parameterType="com.example.wechatdemo.wechat.entity.CommentforgoodExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from commentforgood
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from commentforgood
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from commentforgood
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.wechatdemo.wechat.entity.CommentforgoodExample">
    delete from commentforgood
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.wechatdemo.wechat.entity.Commentforgood">
    insert into commentforgood (id, commentId, goodId, 
      userId, userface, content, 
      date, spec, grade, 
      img, addtwocontent, addtwoimg, 
      ry1, ry2, ry3, ry4, 
      ry5)
    values (#{id,jdbcType=INTEGER}, #{commentid,jdbcType=INTEGER}, #{goodid,jdbcType=INTEGER}, 
      #{userid,jdbcType=INTEGER}, #{userface,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{date,jdbcType=VARCHAR}, #{spec,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}, 
      #{img,jdbcType=VARCHAR}, #{addtwocontent,jdbcType=VARCHAR}, #{addtwoimg,jdbcType=VARCHAR}, 
      #{ry1,jdbcType=VARCHAR}, #{ry2,jdbcType=VARCHAR}, #{ry3,jdbcType=VARCHAR}, #{ry4,jdbcType=VARCHAR}, 
      #{ry5,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.wechatdemo.wechat.entity.Commentforgood">
    insert into commentforgood
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="commentid != null">
        commentId,
      </if>
      <if test="goodid != null">
        goodId,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="userface != null">
        userface,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="spec != null">
        spec,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="addtwocontent != null">
        addtwocontent,
      </if>
      <if test="addtwoimg != null">
        addtwoimg,
      </if>
      <if test="ry1 != null">
        ry1,
      </if>
      <if test="ry2 != null">
        ry2,
      </if>
      <if test="ry3 != null">
        ry3,
      </if>
      <if test="ry4 != null">
        ry4,
      </if>
      <if test="ry5 != null">
        ry5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="commentid != null">
        #{commentid,jdbcType=INTEGER},
      </if>
      <if test="goodid != null">
        #{goodid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="userface != null">
        #{userface,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="spec != null">
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="addtwocontent != null">
        #{addtwocontent,jdbcType=VARCHAR},
      </if>
      <if test="addtwoimg != null">
        #{addtwoimg,jdbcType=VARCHAR},
      </if>
      <if test="ry1 != null">
        #{ry1,jdbcType=VARCHAR},
      </if>
      <if test="ry2 != null">
        #{ry2,jdbcType=VARCHAR},
      </if>
      <if test="ry3 != null">
        #{ry3,jdbcType=VARCHAR},
      </if>
      <if test="ry4 != null">
        #{ry4,jdbcType=VARCHAR},
      </if>
      <if test="ry5 != null">
        #{ry5,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.wechatdemo.wechat.entity.CommentforgoodExample" resultType="java.lang.Long">
    select count(*) from commentforgood
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update commentforgood
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.commentid != null">
        commentId = #{record.commentid,jdbcType=INTEGER},
      </if>
      <if test="record.goodid != null">
        goodId = #{record.goodid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.userface != null">
        userface = #{record.userface,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.date != null">
        date = #{record.date,jdbcType=VARCHAR},
      </if>
      <if test="record.spec != null">
        spec = #{record.spec,jdbcType=VARCHAR},
      </if>
      <if test="record.grade != null">
        grade = #{record.grade,jdbcType=VARCHAR},
      </if>
      <if test="record.img != null">
        img = #{record.img,jdbcType=VARCHAR},
      </if>
      <if test="record.addtwocontent != null">
        addtwocontent = #{record.addtwocontent,jdbcType=VARCHAR},
      </if>
      <if test="record.addtwoimg != null">
        addtwoimg = #{record.addtwoimg,jdbcType=VARCHAR},
      </if>
      <if test="record.ry1 != null">
        ry1 = #{record.ry1,jdbcType=VARCHAR},
      </if>
      <if test="record.ry2 != null">
        ry2 = #{record.ry2,jdbcType=VARCHAR},
      </if>
      <if test="record.ry3 != null">
        ry3 = #{record.ry3,jdbcType=VARCHAR},
      </if>
      <if test="record.ry4 != null">
        ry4 = #{record.ry4,jdbcType=VARCHAR},
      </if>
      <if test="record.ry5 != null">
        ry5 = #{record.ry5,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update commentforgood
    set id = #{record.id,jdbcType=INTEGER},
      commentId = #{record.commentid,jdbcType=INTEGER},
      goodId = #{record.goodid,jdbcType=INTEGER},
      userId = #{record.userid,jdbcType=INTEGER},
      userface = #{record.userface,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      date = #{record.date,jdbcType=VARCHAR},
      spec = #{record.spec,jdbcType=VARCHAR},
      grade = #{record.grade,jdbcType=VARCHAR},
      img = #{record.img,jdbcType=VARCHAR},
      addtwocontent = #{record.addtwocontent,jdbcType=VARCHAR},
      addtwoimg = #{record.addtwoimg,jdbcType=VARCHAR},
      ry1 = #{record.ry1,jdbcType=VARCHAR},
      ry2 = #{record.ry2,jdbcType=VARCHAR},
      ry3 = #{record.ry3,jdbcType=VARCHAR},
      ry4 = #{record.ry4,jdbcType=VARCHAR},
      ry5 = #{record.ry5,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.wechatdemo.wechat.entity.Commentforgood">
    update commentforgood
    <set>
      <if test="commentid != null">
        commentId = #{commentid,jdbcType=INTEGER},
      </if>
      <if test="goodid != null">
        goodId = #{goodid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="userface != null">
        userface = #{userface,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="spec != null">
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="addtwocontent != null">
        addtwocontent = #{addtwocontent,jdbcType=VARCHAR},
      </if>
      <if test="addtwoimg != null">
        addtwoimg = #{addtwoimg,jdbcType=VARCHAR},
      </if>
      <if test="ry1 != null">
        ry1 = #{ry1,jdbcType=VARCHAR},
      </if>
      <if test="ry2 != null">
        ry2 = #{ry2,jdbcType=VARCHAR},
      </if>
      <if test="ry3 != null">
        ry3 = #{ry3,jdbcType=VARCHAR},
      </if>
      <if test="ry4 != null">
        ry4 = #{ry4,jdbcType=VARCHAR},
      </if>
      <if test="ry5 != null">
        ry5 = #{ry5,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.wechatdemo.wechat.entity.Commentforgood">
    update commentforgood
    set commentId = #{commentid,jdbcType=INTEGER},
      goodId = #{goodid,jdbcType=INTEGER},
      userId = #{userid,jdbcType=INTEGER},
      userface = #{userface,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      date = #{date,jdbcType=VARCHAR},
      spec = #{spec,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      addtwocontent = #{addtwocontent,jdbcType=VARCHAR},
      addtwoimg = #{addtwoimg,jdbcType=VARCHAR},
      ry1 = #{ry1,jdbcType=VARCHAR},
      ry2 = #{ry2,jdbcType=VARCHAR},
      ry3 = #{ry3,jdbcType=VARCHAR},
      ry4 = #{ry4,jdbcType=VARCHAR},
      ry5 = #{ry5,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>