<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wechatdemo.wechat.mapper.GoodserviceMapper">
  <resultMap id="BaseResultMap" type="com.example.wechatdemo.wechat.entity.Goodservice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parentId" jdbcType="INTEGER" property="parentid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="gsry1" jdbcType="VARCHAR" property="gsry1" />
    <result column="gsry2" jdbcType="VARCHAR" property="gsry2" />
    <result column="gsry3" jdbcType="VARCHAR" property="gsry3" />
    <result column="gsry4" jdbcType="VARCHAR" property="gsry4" />
    <result column="gsry5" jdbcType="INTEGER" property="gsry5" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, parentId, name, description, gsry1, gsry2, gsry3, gsry4, gsry5
  </sql>
  <select id="selectByExample" parameterType="com.example.wechatdemo.wechat.entity.GoodserviceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goodservice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goodservice
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goodservice
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.wechatdemo.wechat.entity.GoodserviceExample">
    delete from goodservice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.wechatdemo.wechat.entity.Goodservice">
    insert into goodservice (id, parentId, name, 
      description, gsry1, gsry2, 
      gsry3, gsry4, gsry5
      )
    values (#{id,jdbcType=INTEGER}, #{parentid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{gsry1,jdbcType=VARCHAR}, #{gsry2,jdbcType=VARCHAR}, 
      #{gsry3,jdbcType=VARCHAR}, #{gsry4,jdbcType=VARCHAR}, #{gsry5,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.wechatdemo.wechat.entity.Goodservice">
    insert into goodservice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="parentid != null">
        parentId,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="gsry1 != null">
        gsry1,
      </if>
      <if test="gsry2 != null">
        gsry2,
      </if>
      <if test="gsry3 != null">
        gsry3,
      </if>
      <if test="gsry4 != null">
        gsry4,
      </if>
      <if test="gsry5 != null">
        gsry5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="gsry1 != null">
        #{gsry1,jdbcType=VARCHAR},
      </if>
      <if test="gsry2 != null">
        #{gsry2,jdbcType=VARCHAR},
      </if>
      <if test="gsry3 != null">
        #{gsry3,jdbcType=VARCHAR},
      </if>
      <if test="gsry4 != null">
        #{gsry4,jdbcType=VARCHAR},
      </if>
      <if test="gsry5 != null">
        #{gsry5,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.wechatdemo.wechat.entity.GoodserviceExample" resultType="java.lang.Long">
    select count(*) from goodservice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update goodservice
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.parentid != null">
        parentId = #{record.parentid,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.gsry1 != null">
        gsry1 = #{record.gsry1,jdbcType=VARCHAR},
      </if>
      <if test="record.gsry2 != null">
        gsry2 = #{record.gsry2,jdbcType=VARCHAR},
      </if>
      <if test="record.gsry3 != null">
        gsry3 = #{record.gsry3,jdbcType=VARCHAR},
      </if>
      <if test="record.gsry4 != null">
        gsry4 = #{record.gsry4,jdbcType=VARCHAR},
      </if>
      <if test="record.gsry5 != null">
        gsry5 = #{record.gsry5,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update goodservice
    set id = #{record.id,jdbcType=INTEGER},
      parentId = #{record.parentid,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      gsry1 = #{record.gsry1,jdbcType=VARCHAR},
      gsry2 = #{record.gsry2,jdbcType=VARCHAR},
      gsry3 = #{record.gsry3,jdbcType=VARCHAR},
      gsry4 = #{record.gsry4,jdbcType=VARCHAR},
      gsry5 = #{record.gsry5,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.wechatdemo.wechat.entity.Goodservice">
    update goodservice
    <set>
      <if test="parentid != null">
        parentId = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="gsry1 != null">
        gsry1 = #{gsry1,jdbcType=VARCHAR},
      </if>
      <if test="gsry2 != null">
        gsry2 = #{gsry2,jdbcType=VARCHAR},
      </if>
      <if test="gsry3 != null">
        gsry3 = #{gsry3,jdbcType=VARCHAR},
      </if>
      <if test="gsry4 != null">
        gsry4 = #{gsry4,jdbcType=VARCHAR},
      </if>
      <if test="gsry5 != null">
        gsry5 = #{gsry5,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.wechatdemo.wechat.entity.Goodservice">
    update goodservice
    set parentId = #{parentid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      gsry1 = #{gsry1,jdbcType=VARCHAR},
      gsry2 = #{gsry2,jdbcType=VARCHAR},
      gsry3 = #{gsry3,jdbcType=VARCHAR},
      gsry4 = #{gsry4,jdbcType=VARCHAR},
      gsry5 = #{gsry5,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>